*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    color: white;
    background: url("images/logo.png") no-repeat 10% 50%, gray;
    background-size: auto 40px;
}
main{
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    color: black;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    background-color: darkgray;
}
#menu, #submenu{
    margin-top: 10px; 
}
tr{
    border-bottom: 2px solid black;
}
tr:last-child{
    border: none;
}
td, th{
    border-right: 2px solid black;
}
td:last-child , th:last-child{
    border: none;
}
.editA{
    display: block;
}
#pages{
    margin-top: 10px;
    text-align: center;
}
table{
    margin-top: 10px; 
    width: 100%;
}
form, #edit_links{
    margin-top: 10px;
}
input, textarea{
    width: 100%;
    margin: 5px 0 5px 0;
}
.dataEdit, .ok{
    font-size: 1.5em;
    text-align: center;
    color: green;
    height: 50px;
}
.error{
    font-size: 1.5em;
    text-align: center;
    color: red;
}
