*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
header{
    position: fixed;
    width: 100%;
    height: 50px;
    color: white;
    background-color: darkgreen;
    text-align: center;
}
.MainMenu{
    padding: 0;
    margin: 0;
}
.MainMenu-Item{
    display: inline-block;
    height: 50px;
    width: 150px;
}
.MainMenu-Item:last-child{
    margin-right: 0;
}
.MainMenu-Item:hover{
    background-color: green;
}
#active{
    background-color: green;
}
a{
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 15px;
}
main{
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}
h1, h2{
    text-align: center;
}
p{
    text-align: justify;
}
table{
    margin: 0 auto;
    text-align: left;
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
    padding: 3px;
}
.logo_img{
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
img{
    width: 50%;
}
footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: darkgray;
    color: lightgray;
}
.time{
    width: 1200px;
    margin: 0 auto;
}