body{
    padding-left: 0; 
    padding-right: 0; 
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    background-color: lightgray;
}
header{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    background: url(./images/logo.png) no-repeat 5% 50%, darkgrey;
    background-size: auto 40px;
    
}
main{

}
footer{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: gray;
}
.E{
    float: left;
    border: 2px solid red;
    margin: 8px;
}