*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    color: white;
    background: url("images/logo.png") no-repeat 10% 50%, gray;
    background-size: auto 40px;
}
main{
    width: 100%;
    padding: 50px 0 50px 0;
    color: black;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    background-color: darkgray;
}
/* горизонтальное меню */
#main_menu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F00;
}
#main_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
}
#main_menu a:hover {
    color: #FF0;
}
#main_menu .selected, .selected, #main_menu .selected:hover, .selected:hover {
    color: #0FF;
}
#product_menu{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
#product_menu a{
    display: flex;
    flex-direction: column;
    height: 25px;
    margin-top: 5px;
    background-color: white;
    justify-content: center;
    text-align: center;
}
main .container{
    display: flex;
    flex-direction: row;
}
table, tr, td{
    padding: 0;
}
.multiTable{
    display: flex;
}
.ttRow{
    margin-right: 25px;
}
.ttSingleRow{
    font-size: 1.5em;
}
tr {
    display: block;
    float: left;
    margin-right: 25px;
}
th, td { display: block; }