*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    color: white;
    background: url("images/logo.png") no-repeat 10% 50%, gray;
    background-size: auto 40px;
}
main{
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    color: black;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    background-color: darkgray;
}
.container{
    display: flex;
    width: 500px;
    margin: 0 auto;
    flex-direction: column;
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5px 0 5px 0;
    border: 1px solid black;
    background-color: white;
    height: 50px;
    font-size: 2em;
}
.keys{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.topKeys{
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}
.bottomKeys{
    display: flex;
    justify-content: space-between;
}
a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50px;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 2em;
    color: black;
    margin-right: 10px;
    flex-basis: 18%;
}
a:nth-child(5n){
    margin-right: 0;
}
.reset{
    flex-basis: 100%;
    margin: 5px 0 0 0;
}
