*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    color: white;
    background: url("images/logo.png") no-repeat 10% 50%, gray;
    background-size: auto 40px;
}
main{
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    color: black;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    background-color: darkgray;
}